<div class="col-lg-9 col-sm-8"><!-- Contact -->
    <div id="map" class="maps pos-center margint60" style="height: 400px;">
        <!-- Contact Maps -->
    </div>
    <div class="contact-form margint60"><!-- Contact Form -->
        <form action="#" method="post" id="ajax-contact-form">
            <input type="text" id="cname" placeholder="Name" name="name">
            <input type="text" id="csubject" placeholder="Subject" name="subject">
            <input type="text" id="cmail" placeholder="E-Mail" name="email">
            <textarea placeholder="Write what do you want..." id="ctext" name="message"></textarea>
            <input class="pull-right margint10" type="submit" value="SUBMIT">
        </form>
    </div>
</div>