<div class="about-destination margint40 marginb40 clearfix">
    <!-- About Destination -->
    <div class="title pos-center marginb40">
        <h2>DESTINATIONS</h2>
        <div class="title-shape"><img alt="Shape" src="/images/shape.png"></div>
    </div>
    <div class="col-lg-8 col-sm-12 about-title pos-center">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
                <div class="destination-map"></div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <div class="destination-map"></div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <div class="destination-map"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 tabbed-area tab-style">
        <div class="about-destination-box active-tab">
            <a href="#tab1" data-toggle="tab">
                <h6>MAP DESTINATION</h6>
            </a>
            <a href="#tab1" data-toggle="tab">
                <p class="margint10">Duis mollis, est non commodo luctus, nisi erat odiot urna mollis ornare vel eu leo.
                    semper.</p>
            </a>
        </div>
        <div class="about-destination-box">
            <a href="#tab2" data-toggle="tab">
                <h6>BUS DESTINATION</h6>
            </a>
            <a href="#tab2" data-toggle="tab">
                <p class="margint10">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat.
                    Do gravida at eget metus.</p>
            </a>
        </div>
        <div class="about-destination-box">
            <a href="#tab3" data-toggle="tab">
                <h6>OWN CAR</h6>
            </a>
            <a href="#3" data-toggle="tab">
                <p class="margint10">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere era
                    at eget metus.</p>
            </a>
        </div>
    </div>
</div>