<div class="about-services margint60 clearfix"><!-- About Services -->
    <div class="col-lg-4 col-sm-6">
        <img alt="About Services" class="img-responsive" src="/images/static/hotel-info/otel-info-image-2.jpg">
        <h5 class="margint20">SPA CENTER</h5>
        <p class="margint20">Duis mollis, est non commodo luctus, nisi erat odio sewd euismod semp, est non nuluis risus
            eget urna mollis ornare vel eu leo. semper. </p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <img alt="About Services" class="img-responsive" src="/images/static/hotel-info/otel-info-image-3.jpg">
        <h5 class="margint20">FITNESS CENTER</h5>
        <p class="margint20">Duis mollis, est non commodo luctus, nisi erat odio sewd euismod semp, est non nuluis risus
            eget urna mollis ornare vel eu leo. semper. </p>
    </div>
    <div class="col-lg-4 col-sm-6">
        <img alt="About Services" class="img-responsive" src="/images/static/hotel-info/otel-info-image-4.jpg">
        <h5 class="margint20">DELICIOUS FOOD</h5>
        <p class="margint20">Duis mollis, est non commodo luctus, nisi erat odio sewd euismod semp, est non nuluis risus
            eget urna mollis ornare vel eu leo. semper. </p>
    </div>
</div>