<div class="about clearfix">
    <!-- About Section -->
    <div class="container">
        <div class="row">
            <div class="about-title pos-center">
                <h2>WELCOME TO PARADISE</h2>
                <div class="title-shape">
                    <img alt="Shape" src="~/images/shape.png" />
                </div>
                <p>
                    Nullam quis risus eget urna mollis ornare vel eu leo. Cras
                    mattis consectetur purus sit amet fermentum. Praesent
                    <span class="active-color">commodo</span> cursus magna, vel
                    scelerisque nisl .Nulleget urna mattis consectetur purus sit
                    amet fermentum
                </p>
            </div>
            <div class="otel-info margint60">
                <div class="col-lg-4 col-sm-12">
                    <div class="title-style-1 marginb40">
                        <h5>GALLERY</h5>
                        <hr />
                    </div>
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img alt="Slider 1" class="img-responsive"
                                    src="~/images/static/hotel-info/otel-info-image-1.jpg" />
                            </li>
                            <li>
                                <img alt="Slider 1" class="img-responsive"
                                    src="~/images/static/hotel-info/otel-info-image-2.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="title-style-1 marginb40">
                        <h5>ABOUT US</h5>
                        <hr />
                    </div>
                    <p>
                        Sed posuere consectetur est at lobortis. Aenean lacinia
                        bibendum nulla sed consectetur. Duis mollis, est non commodo
                        luctus, nisi erat porttitor ligula, eget laci. Maecenas
                        faucibus mollis interdum.
                    </p>
                    <p>
                        Fusce dapibus, tellus ac cursus commodo, tortor mauris
                        condimentum nibh, ut fer condimentum nibh, ut fermentum
                        massa justo sit amet risus. mentum massa justo sit amet
                        risus.
                    </p>
                    <p>
                        Fusce dapibus, tellus ac cursus commodo ut fermentum massa.
                        mentum massa justo sit amet risus.
                    </p>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="title-style-1 marginb40">
                        <h5>OUR NEWS</h5>
                        <hr />
                    </div>
                    <div class="home-news">
                        <div class="news-box clearfix">
                            <div class="news-time pull-left">
                                <div class="news-date pos-center">
                                    <div class="date-day">
                                        20
                                        <hr />
                                    </div>
                                    MAY
                                </div>
                            </div>
                            <div class="news-content pull-left">
                                <h6><a href="#">News from us from now</a></h6>
                                <p class="margint10">
                                    Donec ullamcorper nulla non metus auctor fringilla.
                                    Donec sed odio dui
                                    <a class="active-color" href="#">[...]</a>
                                </p>
                            </div>
                        </div>
                        <div class="news-box clearfix">
                            <div class="news-time pull-left">
                                <div class="news-date pos-center">
                                    <div class="date-day">
                                        20
                                        <hr />
                                    </div>
                                    MAY
                                </div>
                            </div>
                            <div class="news-content pull-left">
                                <h6><a href="#">News from us from now</a></h6>
                                <p class="margint10">
                                    Donec ullamcorper nulla non metus auctor fringilla.
                                    Donec sed odio dui. Nulla vitae elit libero, a
                                    pharetra augue
                                    <a class="active-color" href="#">[...]</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>