@model LuxenHotel.Models.ViewModels.Booking.ComboListViewModel
@using LuxenHotel.Models.Entities.Booking

<div class="modal fade" id="kt_modal_add_combo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mw-900px">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="fw-bold">Add New Combo</h2>
                <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark fs-1"></i>
                </div>
            </div>
            <div class="modal-body py-10 px-lg-17">
                <!-- Begin::Form -->
                <form id="kt_modal_add_combo_form" class="form" action="@Url.Action("Create", "ComboManager")"
                    method="post">
                    @Html.AntiForgeryToken()
                    <div class="scroll-y me-n7 pe-7" id="kt_modal_add_combo_scroll" data-kt-scroll="true"
                        data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto"
                        data-kt-scroll-dependencies="#kt_modal_add_combo_header"
                        data-kt-scroll-wrappers="#kt_modal_add_combo_scroll" data-kt-scroll-offset="300px">
                        @await Html.PartialAsync("Partial/Form/_ComboBasicField", Model)

                        @await Html.PartialAsync("Partial/Form/_ComboServices", Model)
                    </div>

                    <div class="text-center pt-10">
                        <button type="reset" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" id="kt_modal_add_combo_submit" class="btn btn-primary">
                            <span class="indicator-label">Submit</span>
                            <span class="indicator-progress">Please wait...
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </form>
                <!-- End::Form -->
            </div>
        </div>
    </div>
</div>