<div class="container mb-20">
    <h3 class="fw-bold mb-10">Amenities and Facilities</h3>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h5 class="fw-bold">Internet Access</h5>
            <ul class="list-unstyled mb-10">
                <li><i class="me-10 fas fa-wifi"></i> Free Wi-Fi in all rooms</li>
                <li><i class="me-10 fa-solid fa-network-wired"></i> Internet services</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> Wi-Fi in public areas</li>
            </ul>

            <h5 class="fw-bold">Dining, drinking, and snacking</h5>
            <ul class="list-unstyled mb-10">
                <li><i class="me-10 fa-solid fa-mug-hot"></i> Coffee shop</li>
                <li><i class="me-10 fas fa-utensils"></i> Restaurants</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> Snack bar</li>
            </ul>

            <h5 class="fw-bold">Cleanliness and safety</h5>
            <ul class="list-unstyled mb-10">
                <li><i class="me-10 fa-regular fa-circle-check"></i> Room sanitization opt-out available</li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-3">
            <h5 class="fw-bold">Access</h5>
            <ul class="list-unstyled mb-10">
                <li><i class="me-10 fa-regular fa-circle-check"></i> CCTV in common areas</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> CCTV outside property</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> Fire extinguisher</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> Front desk [24-hour]</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> Non-smoking rooms</li>
                <li><i class="me-10 fa-regular fa-circle-check"></i> Pets allowed</li>
            </ul>

            <h5 class="fw-bold">Getting around</h5>
            <ul class="list-unstyled mb-10">
                <li><i class="me-10 fa-solid fa-square-parking"></i> Car park [on-site]</li>
            </ul>
        </div>

        <div class="col-sm-6 col-md-6">
            <h5 class="fw-bold">Available in all rooms</h5>
            <div class="row">
                <div class="col-xs-6">
                    <ul class="list-unstyled mb-10">
                        <li><i class="me-10 fa-solid fa-fan"></i> Air conditioning</li>
                        <li><i class="me-10 fa-solid fa-bath"></i> Bathtub</li>
                        <li><i class="me-10 fa-solid fa-arrow-down-short-wide"></i> Desk</li>
                        <li><i class="me-10 fa-solid fa-building-shield"></i> In-room safe box</li>
                        <li><i class="me-10 fa-solid fa-kitchen-set"></i> Kitchenware</li>
                        <li><i class="me-10 fa-solid fa-network-wired"></i> LAN Internet in room [free]</li>
                    </ul>
                </div>
                <div class="col-xs-6">
                    <ul class="list-unstyled mb-10">
                        <li><i class="me-10 fa-solid fa-wine-glass"></i> Mini bar</li>
                        <li><i class="me-10 fa-solid fa-satellite-dish"></i> Satellite/cable channels</li>
                        <li><i class="me-10 fa-solid fa-shower"></i> Shower</li>
                        <li><i class="me-10 fa-solid fa-phone-volume"></i> Telephone</li>
                        <li><i class="me-10 fa-solid fa-wifi"></i> Wi-Fi [free]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
